<!DOCTYPE html>
<html>
  <head>
    <title>Templevue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oswald|Roboto|Russo+One' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container" data-behavior="vue">
      <header><%= render "/shared/navigation", cached: true  %></header>
      <div class="alerts">
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
      </div>
      <main  class="page_content">
        <%= yield %>
      </main>
      <footer><%= render "/shared/footer", cached: true  %></footer>
    </div>
  </body>
</html>